body {
    background-color: #202124;
}

.header{
    padding: 10;
}


.header-list {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 10px;
    margin-inline-start: 91rem ;
    font-size: 15px;
    

}

.header-link {
    text-decoration: none;
    color: white;
    font-family: arial,sans-serif;
    font-weight: 300;
}

.search-bar {
    text-align: center;
    justify-content: center;
    padding: 400px 0;
}